/*-----------------------------INICIO DE 1RA PARTE*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 700px;
    margin: 0px auto;
}

.img_layout {
    width: 100%;
}
.nav_lay ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin: 15px auto;
    text-align: center;
    
}
.nav_lay li {
    display: inline-block;
    font-size: 20px;
}
.nav_lay li a{
    text-decoration: none;
    display: inline-block;
    color: #000;
    padding: 12px;
}
.nav_lay li:after{
    content: "│"; 
}
.nav_lay li:last-child:after{
    content: "";
}

.layout_hr1 {
    width: 40px;
    border: 1px solid gray;
    margin:20px auto;
}
.layout_parrafo{
    width: 300px;
    margin: 10px auto;
    
}
.layout_parrafo p {
    text-align: center;
}
.layout_hr2{
    width: 40px;
    border: 1px solid gray;
    margin: 20px auto;
}

.layout_h1 {
    font-size: 20px;
}
.lista_linea1{
   border: 2px solid #000;
    width: 60px;
    margin: 20px 0;
}
.lista_layout{
    width:700px; 
    margin: auto;
}

.lista_layout ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.lista_layout ul li{
    display: inline-block;
    position: relative;
    margin: 8px;
    background-color: #000;
}
.lista_layout p{
    color: #fff;
    margin: 8px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.lista_layout img {
    opacity: 0.8;
    display: block;
}

/*-------------------------------FIN DE 1RA PARTE*/

/*-------------------------------INICIO DE 2DA PARTE*/
.wrapper_pag2, .wrapper_pag3, .wrapper_pag4, .wrapper_page5, .wrapper_page6{
    width: 55%;
    margin: auto;
    border: 2px solid gray;
    padding: 15px;
}
.img1_pag2, .img1_pag3,.img1_pag4, .img1_pag5, .img1_pag6 {
    border-radius: 100%;
    display: block;
    margin: auto;
}
.h1_pag2 {
    text-align: center;
    margin: auto;
    font-size: 35px;
    margin: 10px;
}
.wrapper_pag2 p {
    text-align: center;
    margin: 30px;
}
.page2_list ul{
    list-style: none;
}
.page2_list li{
    margin: 15px;
    padding: 15px;
    background-color: gray;
    color: #fff;
}
.page2_list li:nth-child(1){width: 70%}
.page2_list li:nth-child(2){width: 50%}
.page2_list li:nth-child(3){width: 30%}

.page2_img{
    width: 100%;
    margin: auto;
}
.page2_img ul{
    list-style: none;
    padding: 0;
    margin: 10px;
}
.page2_img li {
    display: inline-block;
    margin: 5px; 
}
.page2_img img{
    width:200px;
    display: block;
}
/*-------------------------------FIN DE 2DA PARTE*/

